*{
    margin: 0px;
}
.cabe{
    background-color: pink;

}
header{
    width: 100%;
}
header h1{
    color: blue; 
}
.caja1{
    background-color: pink;
}
.l1{
    display: inline;
}
.l2{
    display: inline;
    margin-left: 210px;
}
a{
    text-decoration: none;
    color: red;
    font-size: 24px;
}
.cuerpo{
    background-color: rgb(236, 236, 143);
    width: 100%;
    height: 500px;
    padding: 10px;
}
.box1{
    background-color: yellow;
    width: 70%;
    height: 175px;
    margin-left: 60px;
    margin-top: 40px;
}
.box2{
    background-color: white;
    width: 70%;
    height: 175px;
    margin-left: 60px;
    margin-top: 40px;
}
.pie{
    background-color: green;
    width: 100%;
    height: 40px;
}
table{
    margin: 1px;
}